.nav{
    img{
        height: 100%;
        width: 100%;
    }
    .navbar-nav{
        position: absolute;
        display:flex ;

        h1{
            color: #728C00;
        }
        ul{
            display: flex;
            padding-left: 25rem;
            li{
                list-style-type: none;
                margin-left: 3.5rem;
                padding: 14px;
                    border-radius: 41px;
                    color: #f9f9f9;
                    font-weight: 700;
                &:hover{
                    background-color: #728C00;
                    
                }
            }
        }
        .drop-menu{
            position: relative;
            display: inline-block;

            .drop-down{
                display: none;
                position: absolute;
                background-color: #f9f9f9;
                min-width: 160px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                z-index: 1;

                li{
                    color: black;
                    padding: 12px 16px;
                    text-decoration: none;
                    display: block;

                    &:hover{
                        background-color: #f1f1f1
                    }
                }
            }
            &:hover .drop-down{
                display: block;
              }
        }
    }
    .content-button-container{
        position: absolute;
        top: 400px;
        left: 452px;
        justify-content: center;
        text-align: center;

        h1{
            font-weight: 900;
            font-size: 54px;
            color: white;
        }
        p{
            color: white;
            font-weight: 700;
        }

        .search-btton{
            background-color: white;
            width: 423px;
            border-radius: 45px;
            margin-left: 154px;
            input{
                padding: 10px 198px 10px 4px;
                border: none;
                border-radius: 36px;
                outline: none;

            }
            button{
                background: #728C00;
                padding: 6px;
                border-radius: 23px;
                border: none;
            }

        }
    }

}
@media only screen and (min-width: 1150px) and (max-width: 1350px){
    .nav{
        .navbar-nav{

            ul{
                display: flex;
                padding-left: 20rem;
                li{
                    list-style-type: none;
                    margin-left: 2rem;
                    
                }
            }

        }

    }
}

@media only screen and (min-width: 1041px) and (max-width: 1149px){
    .nav{
        .navbar-nav{

            ul{
                display: flex;
                padding-left: 15rem;
                li{
                    list-style-type: none;
                    margin-left: 1rem;
                    
                }
            }

        }

    }
}

@media only screen and (min-width: 872px) and (max-width: 1040px){
    .nav{
        .navbar-nav{

            ul{
                display: flex;
                padding-left: 13rem;
                li{
                    list-style-type: none;
                    margin-left: 0.5rem;
                    
                }
            }

        }

    }
}

@media only screen and (min-width: 685px) and (max-width: 871px){
    .nav{
        .navbar-nav{

            ul{
                display: flex;
                padding-left: 1rem;
                li{
                    list-style-type: none;
                    margin-left: 0rem;
                    
                }
            }

        }

    }
}
